<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% if @institution.errors.any? %>
			<div class="alert alert-danger">
				<ul>
					<% @institution.errors.full_messages.each do |error| %>
						<li><%= error %></li>
					<%end%>			
				</ul>
			</div>
		<%end%>
		<div class="box">
			<h1 class = "bottom-separation">Editar institución</h1>
			<%= render 'form' %>
		</div>
	</div>
</div>	