<%= form_tag groups_path, method: :get, :class => "", :role => "form" do %>

	<div class="form-group">
	</div>
		<div class="form-group">
			<%= collection_select :institution_id_input, :institution_id, Institution.all, :id, :name, {prompt: "Filtrar por institución"}, { :class => 'form-control' } %>
		</div>
  <%= submit_tag "Filtrar", name: nil, class: "btn btn-primary btn-lg" %>
  <%= link_to "Eliminar filtros", polititians_path %>
<% end %>