<h1 class="bottom-separation"> Quienes somos</h1>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
		  <li class=""> <%= link_to "Proyecto", about_us_path(:anchor => "1") %> </li>
		  <li class=""> <%= link_to "Equipo", about_us_path(:anchor => "2") %> </li>
		  <li class=""> <%= link_to "Verificación de información", about_us_path(:anchor => "3") %> </li>
		  <li class=""> <%= link_to "Transparencia", about_us_path(:anchor => "4") %> </li>
		</ul>
	</div>
	<div class="col-md-9 box">
		<h2 id = "1" class="bottom-separation">Proyecto</h2>
		<p class="alert alert-info"> La misión de ePolitic es <strong> dar a conocer los CVs de los políticos </strong> a los ciudadanos.</p>
		<p>En ePolitic.org creemos que solamente nuestros ciudadanos más brillantes y trabajadores deberían tener el honor y a responsabilidad representarnos.</p>

		<p>¿Por qué es importante contar con políticos bien preparados?</p>
		<ul>
			<li><strong>Mejores políticas:</strong> Manejar un país, una comunidad autónoma o una ciudad no son tareas sencillas. Nuestros políticos se enfrentan a problemas complejos, que requieren formación y preparación.</li>
			<li><strong>Mayor rotación:</strong> un político mejor preparado tiene alternativas profesionales fuera de la política, y por lo tanto es menos probable que caiga en la tentación de agarrarse a la silla.</li>
			<li><strong>Menor corrupción:</strong> Cuanto menos tiempo pase un político en la política, menor es la probabilidad de que robe. En muchos países se limita la duración de diversos cargos, bla bla bla.</li>
		</ul>

		<p>¿Qué es un político preparado?</p>
		<ul>
			<li><strong>Estudios</strong> ¿Qué titulaciones tiene? ¿Guardan alguna relación con su cargo? ¿Qué notas sacó?</li>
			<li><strong>Experiencia profesional fuera de la política</strong> ¿Cuenta con una alternativa profesional fuera de la política? ¿Ha desempeñado algún cargo de responsabilidad en el sector público, educativo, privado, ...? ¿Cuenta con unas oposiciones que le garanticen un cargo fuera de la política?</li>
			<li><strong>Experiencia en la política</strong> ¿Ha desempeñado algún cargo en la política? ¿Qué actividad ha demostrado? ¿Cuantas intervenciones e iniciativas parlamentarias ha protagonizado?</li>
			<li><strong>Idiomas</strong> ¿Qué idiomas habla y con qué fluidez?</li>
			<li><strong>Logros y premios</strong> ¿Existe algún logro deportivo, cívico o social que acredite su calidad humana y profesional?</li>
		</ul>
		<p> ePolitic tiene las siguientes señas de identidad:</p>
		<ul>
			<li><strong>Sin ánimo de lucro </strong></li>
			<li><strong>Apolítico </strong></li>
			<li><strong>Basado en el voluntariado </strong></li>
			<li><strong>Transparente</strong></li>
			<li><strong>Positivo</strong></li>
		</ul>
		</br>

		<h2 id = "2" class="bottom-separation">Equipo</h2>		
		<p> Nuestro equipo</p>
		<ul>
			<li><strong>Xabier Vicuña</strong></li>
			<li><strong>...</strong></li>
			<li><strong>...</strong></li>
			<li><strong>...</strong></li>
			<li><strong>...</strong></li>
		</ul>
		</br>

		<h2 id = "3" class="bottom-separation">Verificación de información</h2>
		<p>bla bla bla </p>
		</br>
		<h2 id = "4" class="bottom-separation">Transparencia</h2>
		<p>ePolitic.org es una plataforma sin ánimo de lucro. Publicaremos trimestralmente el estado de las cuentas de la organización.</p>
		</br>
	</div>
</div>