<h1 class="bottom-separation"> Participa</h1>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
		  <li class=""> <%= link_to "Info de políticos", join_us_path(:anchor => "1") %> </li>
		  <li class=""> <%= link_to "Crowdfunding", join_us_path(:anchor => "2") %> </li>
		  <li class=""> <%= link_to "Voluntariado", join_us_path(:anchor => "3") %> </li>
		</ul>
	</div>
	<div class="col-md-9 box">
		<h2 id = "1" class="bottom-separation">¿Quieres editar, añadir o borrar información?</h2>
        <p><span class="label label-primary">Opción 1</span> Mándanos la información a <strong>info@epolitic.org</strong> y nos encargamos.</p>
        </br>
        <p><span class="label label-primary">Opción 2</span> Conviérte en <strong>editor</strong> y hazlo tú mismo. Para ello:</p>

        <div class="row">
          <div class="col-md-offset-1 col-md-11">
            <p><span class="badge">1</span> Crea una <strong>cuenta</strong> y </p>
            <p><span class="badge">2</span> Escríbenos a <strong>info@epolitic.org</strong> con tus datos de contacto.</p>
          </div>
        </div>
        </br>
        <p><span class="label label-warning">IMPORTANTE</span> Unicamente publicaremos información pública o con fuentes contrastadas.</p>
        </br>
        <h4>¿Eres un polític@? ¡Bienvenid@!</h4>
        <p>Estás invitad@ a participar. Comparte con la ciudadanía tus cualificaciones gestionando tu propio perfil. Escríbenos a info@epolitic.org y nos pondremos en contacto contigo para explicarte cómo.</p>
    	</br>
		<h2 id = "2" class="bottom-separation">Crowdfunding</h2>
		<p>Pronto lanzaremos un proceso de crowdfunding con el cual pagar los costes del proyecto. Si estás interesado no olvides hacer "Like" en nuestra página de Facebook. </p>
		</br>

		<h2 id = "3" class="bottom-separation">Voluntariado</h2>
		<p>Necesitamos ayuda en muchas áreas para sacar el proyecto adelante: </p>
		<ul>
			<li><strong>Editor</strong>. Necesitamos colaboradores responsables para editar contenidos a ePolitic.org. Nos llega mucha información, y hay que contrastar las fuentes para asegurarnos de que publicamos información fiable.</li>
			<li><strong>Captación de políticos</strong>. Sí, como suena. Necesitamos periodistas que contacten con los políticos y les animen a participar, creando su propio perfil.</li>
			<li><strong>Programador</strong>. Trabajamos con Ruby on Rails. El proyecto está colgado en el siguiente repositorio de Github. Puedes ver ahí las tareas que iremos resolviendo: <a href="https://github.com/tabivicuna/epolitic">ePolitic.org en Github</a>.</li>
			<li><strong>Diseñador</strong>. Si eres diseñador web, habrás observado que el diseño está realizado utlizando elementos de Bootstrap. Sabemos que hay mucho margen de mejora. Anímate a participar y dejar tu huella.  </li>
		</ul>
		<p>Escríbenos a <strong>info@epolitic.org</strong> para participar.</p>
		</br>
	</div>
</div>