<h1 class="bottom-separation"> Participa</h1>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
		  <li class=""> <%= link_to "Info de políticos", join_us_path(:anchor => "1") %> </li>
		  <li class=""> <%= link_to "Crowdfunding", join_us_path(:anchor => "2") %> </li>
		  <li class=""> <%= link_to "Voluntarios", join_us_path(:anchor => "3") %> </li>
		</ul>
	</div>
	<div class="col-md-9 box">
		<h2 id = "1" class="bottom-separation">Información de políticos</h2>
		<p>¿Dispones de información sobre el curriculum de algún político? Escríbenos a <strong>info.politicos@epolitic.org</strong></p>
		<p>Por favor, incluye las fuentes de la información, así como tus datos de contacto. Nuestro equipo editorial comprobará las fuentes de tu información, y eso podría.</p>
		<p>No te preocupes, garantizamos tu anonimato. </p>
		</br>

		<h2 id = "2" class="bottom-separation">Donaciones</h2>
		<p>Estamos realizando un crowd-funding ... </p>
		</br>

		<h2 id = "3" class="bottom-separation">Voluntarios</h2>
		<p>Necesitamos ayuda en muchas áreas para sacar el proyecto adelante:</p>
		<ul>
			<li><strong>Editor</strong> Necesitamos colaboradores responsables para subir contenidos a ePolitic.org. Nos llega mucha información, y hay que contrastar las fuentes para asegurarnos de que publicamos información fiable.</li>
			<li><strong>Relación con medios</strong> </li>
			<li><strong>Captación de políticos</strong> Sí, como suena. Necesitamos periodistas que contacten con los políticos y les animen a participar, creando su propio perfil.</li>
			<li><strong>Programador</strong> </li>
			<li><strong>Diseñador</strong> </li>
		</ul>
		<p>Escríbenos a <strong>voluntarios@epolitic.org</strong></p>
		</br>
	</div>
</div>