<h1 class="bottom-separation"> Prensa</h1>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
		  <li class=""> <%= link_to "Recursos útiles", press_path(:anchor => "1") %> </li>
		  <li class=""> <%= link_to "Logotipo", press_path(:anchor => "2") %> </li>
		  <li class=""> <%= link_to "Dossier de prensa", press_path(:anchor => "3") %> </li>
		  <li class=""> <%= link_to "Regístrate para recibir notas de prensa", press_path(:anchor => "3") %> </li>

		</ul>
	</div>
	<div class="col-md-9 box">
		<h2 id = "1" class="">Estamos en proceso de redactar una nota de prensa explicando el funcionamiento de ePolitic.org y nuestros objetivos. Entretanto, escríbenos a info@epolitic.org con cualquier duda o consulta.</h2>
	</div>
</div>