body {
	background-color: #e9eaed;
}

.box {
	background-color: white;
	padding: 20px;
	margin: 20px 0px;
	box-shadow: 1px 1px #d0d1d5;
}

.bottom-separation {
	border-bottom: solid 1px #d0d1d5;
	padding: 10px 0px;
	margin-bottom: 10px;
}

.no-bullets-list {
	list-style: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e9eaed;
}

#footer li {
	display: inline;
}


/* SEARCH BAR
-------------------------------------------------- */

.search-bar-relative{
	position: relative;
}

.search-bar-absolute {
	position: absolute;
	left: 35%; 
	top: 65%;
	z-index: 2;

	background-color: rgba(0,0,0,.6);	
	border-radius: 5px;


}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;

}
.carousel-inner > .item > img {
  min-width: 100%;
  height: 500px;
}

.carousel h1{
	text-shadow: 0 10px 30px black;
}

/* Picture shadow */
.img-shadow {
	position: relative;
	max-width: 100%;
	}
    
    .img-shadow::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: inset 0 0 10px 10px rgba(0,0,0,.6);
		-moz-box-shadow: inset 0 0 10px 10px rgba(0,0,0,.6);
		-webkit-box-shadow: inset 0 0 20px 1px rgba(0,0,0,.6);
	   } 



/* Icons for polititians */

.polititian-icons {
	font-size: 55px;
	color: white;
	vertical-align: middle;
}

.polititian-icons div {	
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.bad {
	background-color: #c74812;	
}

.good {
	background-color: green;	
}

