body {
	background-color: #efefef;
}

.box {
	background-color: white;
	padding: 20px;
	margin: 20px 0px;
	box-shadow: 1px 1px #d0d1d5;
}

.bottom-separation{
	border-bottom: solid 1px #d0d1d5;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.bottom-spacing{
}


.top-separation{
/*	border-top: solid 1px #d0d1d5; */
	margin-bottom: 20px;
}

.no-bullets-list {
	list-style: none;
	margin-left: -40px;
	margin-top: 20px;
}

.horizontal-list li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}




/* STICKY FOOTER STYLES
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fcfcfc;
  padding-top: 20px;
  box-shadow: 0 -2px 0 1px #e4e4e4;
}

#footer li {
	display: inline;
}



/* SEARCH BAR
-------------------------------------------------- */

.relative{
	position: relative;
}

.search-bar-absolute {
	position: absolute;
	left: 35%; 
	top: 65%;
	z-index: 2;

	background-color: rgba(0,0,0,.6);	
	border-radius: 5px;


}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
 	height: 500px;
 	margin-top: -17px;
 	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;

}
.carousel-inner > .item > img {
  min-width: 100%;
  height: 500px;
}

.carousel h1{
	text-shadow: 0 10px 30px black;
}

/* Picture shadow */
.img-shadow {
	position: relative;
	max-width: 100%;
	}
    
    .img-shadow::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: inset 0 0 10px 10px rgba(0,0,0,.6);
		-moz-box-shadow: inset 0 0 10px 10px rgba(0,0,0,.6);
		-webkit-box-shadow: inset 0 0 20px 1px rgba(0,0,0,.6);
	   } 


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}




/* ICONS FOR POLITITIANS 
-------------------------------------------------- */


.icon-bad {
	font-size: 30px;
	color: #c74812;
}

.icon-ok {
	font-size: 30px;
	color: #5d895e;
}



/* POLITICIAN PROFILE 
-------------------------------------------------- */

.well {
	margin: 10px 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.well:first-child {
	margin-top: -20px;
}

