<!-- Modal Trials-->
<div class="modal fade" id="can-not-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title text-left" id="myModalLabel">¿Quieres añadir o editar información?</h2>
      </div>
      <div class="modal-body text-left">
        <p><span class="label label-primary">Opción 1</span> Mándanos la información a <strong>info.politicos@epolitic.org</strong> y nos encargamos.</p>
        <p><span class="label label-primary">Opción 2</span> Conviérte en <strong>editor</strong> y hazlo tú mismo. Escríbenos a <strong>info.politicos@tpolitics.com</strong> con tus datos de contacto y nos pondremos en contacto contigo.</p>
        <p><span class="label label-warning">IMPORTANTE</span> Unicamente publicaremos información pública o con fuentes contrastadas.</p>
        <p>Este es un proyecto <strong>sin ánimo de lucro</strong> y basado en el <strong>voluntariado</strong>. Ayúdanos a construir una democracia más transparente. Puedes informarte <%= link_to "aquí", join_us_path %>.</p>        
      </div>
      <div class="modal-footer">
<!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>  
    </div>
  </div>
</div>