<!-- Modal Trials-->
<div class="modal fade" id="can-not-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title text-left" id="myModalLabel">¿Quieres añadir o editar información?</h2>
      </div>
      <div class="modal-body text-left">
      	<h4>Escríbenos a <strong>info.politicos@tpolitics.com</strong> con la información que quieres añadir y las fuentes.</h4>
      	<h4>Si quieres hacer varios cambios, puedes convertirte en <strong>editor</strong> y añadir toda la información que quieras. Para ello escríbenos a <strong>info.politicos@tpolitics.com</strong> con tus datos de contacto y nos pondremos en contacto contigo.</h4>
      </div>
      <div class="modal-footer">
<!-- 	  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
  	  </div>	
    </div>
  </div>
</div>