<div id="footer" class="text-center">
  	<div class="container">
  		<p>
  			<%= link_to("Sobre nosotros", about_us_path)%> 
  			| <%= link_to("Participa", join_us_path)%>
			| <%= link_to("Prensa", press_path)%>
			| <%= link_to("Preguntas Frecuentes", faq_path)%>
  		</p>
  	</div>
</div>