<div id="footer" class="text-center">
  	<div class="container">
  		<p>
  			<%= link_to("About us", about_us_path)%> 
  			| <%= link_to("Volunteer", volunteer_path)%>
			| <%= link_to("Transparency", transparency_path)%>
			| <%= link_to("Team", team_path)%>
  		</p>
  	</div>
</div>

