		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
			    <div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			          <span class="sr-only">Toggle navigation</span>
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			        </button>
			        <%= link_to "CVpolitics", root_path, :class => "navbar-brand" %>
			      </div>
			    </niv>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><%= link_to "Polititians", polititians_path %></li>
			        <li><%= link_to "Political parties", polititians_path %></li>
			      </ul>  
				</div>
			</div>
		</nav>
