
<div class="row">
	<div class="col-md-9">

		<div class="row box">

			<div class="col-md-3" >
				 <div class="thumbnail">
				 	<%= image_tag("carlos_fabra.jpg", :alt => "" )%>
				 </div>
			</div>
			<div class="col-md-6">
				<h1><%= @polititian.name %> <%= @polititian.last_name %></h1>
				<p>Puesto y descripción del puesto aquí.</p>
			</div>
		</div>

		<div class="row box">
			<div class="col-md-1">
				<span class="glyphicon glyphicon-search"></span>
				<span class="glyphicon glyphicon-star"></span>
			</div>
			<div class="col-md-9">
				<h3>Titulación universitaria</h3>
		        <p>No tiene titulación titulación universitaria.</p>
			</div>
			<div class="col-md-2">
				<%= image_tag("fail.ico", :alt => "", size: "100" )%>
			</div>
		</div>

	</div>

	<div class="col-md-3">
	</div>

</div>